<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
    <!-- 图标 -->
    <link rel="stylesheet" href="css/font_3266266_o8jx7w6wqij/iconfont.css">
</head>

<body>
    <header>
        <div class="left">磅礴</div>
        <div class="search"><span class="iconfont icon-sousuo"></span><input type="search" name="" id="search"
                placeholder="载132人客机在广西坠毁">
        </div>
        <div class="right "> <span class="iconfont icon-yuncai"></span> 6°</div>
    </header>
    <div class="nav_ul">
        <ul>
            <li> <a href="javascript:;"> 习近平对东航客机坠毁做出重要指示</a></li>
            <li> <a href="javascript:;"> 沿着习校长指引的方向齐心奋进</a></li>
            <li> <a href="javascript:;"> 东航空难丨各种救援救灾物资运抵</a></li>
        </ul>
    </div>

    <nav>
        <ul>
            <li><a href="javascript:;"><img src="images/624.jpg" alt=""></a>
                <div class="text">1国家卫健委答澎湃：鼓励各地因地制宜采取精准的防控措施
                </div>
            </li>
            <li><a href="javascript:;"><img src="images/919.jpg" alt=""></a>
                <div class="text">2国家卫健委答澎湃：鼓励各地因地制宜采取精准的防控措施
                </div>
            </li>
            <li><a href="javascript:;"><img src="images/624.jpg" alt=""></a>
                <div class="text">3国家卫健委答澎湃：鼓励各地因地制宜采取精准的防控措施
                </div>
            </li>
            <li><a href="javascript:;"><img src="images/919.jpg" alt=""></a>
                <div class="text">4国家卫健委答澎湃：鼓励各地因地制宜采取精准的防控措施
                </div>
            </li>
            <li><a href="javascript:;"><img src="images/624.jpg" alt=""></a>
                <div class="text">5国家卫健委答澎湃：鼓励各地因地制宜采取精准的防控措施
                </div>
            </li>
        </ul>
        <ol class="bar">
            <li class="current"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </nav>

    <article>
        <ul>
            <!-- <li>
                <img src="images/a1.png" alt="">
                </img>
                <p class="headline">
                    遭俄“断铀”威胁美欲复兴本土铀，因有毒污染仍有阻碍
                </p>
                <p class="author">澎湃新闻 一小时前</p>
                <p class="recommend">推荐</p>
            </li>
            <li>
                <img src="images/a1.png" alt="">
                </img>
                <p class="headline">
                    遭俄“断铀”威胁美欲复兴本土铀，因有毒污染仍有阻碍
                </p>
                <p class="author">澎湃新闻 一小时前</p>
                <p class="recommend">推荐</p>
            </li>
            <li>
                <img src="images/a1.png" alt="">
                </img>
                <p class="headline">
                    遭俄“断铀”威胁美欲复兴本土铀，因有毒污染仍有阻碍
                </p>
                <p class="author">澎湃新闻 一小时前</p>
                <p class="recommend">推荐</p>
            </li>
            <li>
                <img src="images/a1.png" alt="">
                </img>
                <p class="headline">
                    遭俄“断铀”威胁美欲复兴本土铀，因有毒污染仍有阻碍
                </p>
                <p class="author">澎湃新闻 一小时前</p>
                <p class="recommend">推荐</p>
            </li>
            <li>
                <img src="images/a1.png" alt="">
                </img>
                <p class="headline">
                    遭俄“断铀”威胁美欲复兴本土铀，因有毒污染仍有阻碍
                </p>
                <p class="author">澎湃新闻 一小时前</p>
                <p class="recommend">推荐</p>
            </li>
            <li>
                <img src="images/a1.png" alt="">
                </img>
                <p class="headline">
                    遭俄“断铀”威胁美欲复兴本土铀，因有毒污染仍有阻碍
                </p>
                <p class="author">澎湃新闻 一小时前</p>
                <p class="recommend">推荐</p>
            </li>
            <li>
                <img src="../node/uploads/" alt="">
                </img>
                <p class="headline">
                    遭俄“断铀”威胁美欲复兴本土铀，因有毒污染仍有阻碍
                </p>
                <p class="author">澎湃新闻 一小时前</p>
                <p class="recommend">推荐</p>
            </li> -->
        </ul>
    </article>

    <footer>
        <ul>
            <li>
                <img src="images/首页.png" alt="">
                <span>首页</span>
            </li>
            <li>
                <img src="images/应用中心.png" alt="">
                <span>分类</span>
            </li>
        </ul>
    </footer>
    <script src="js/template-web.js"></script>
    <script type="text/html" id="article">
        <li id="{{Id}}">
            <img src="../node/{{cover}}" alt="">
            </img>
            <p class="headline">
                {{title}}
            </p>
            <p class="author">{{organ}} {{date | dateFormat}}</p>
            <p class="recommend">推荐</p>
        </li>
    </script>
    <script src="js/flexible.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/index.js"></script>
</body>

</html>