<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/index.css">
    <!-- 图标 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_3266266_pegpgzakf.css">
    <script src="js/flexible.js"></script>

</head>

<body>
    <header>
        <div class="left">磅礴</div>
        <div class="search"><span class="iconfont icon-sousuo"></span><input type="search" name="" id="search"
                placeholder="载132人客机在广西坠毁">
        </div>
        <div class="right "> <span class="iconfont icon-yuncai"></span> 6°</div>
    </header>
    <div class="nav_ul">
        <ul>
            <li> <a href="javascript:;"> 习近平对东航客机坠毁做出重要指示</a></li>
            <li> <a href="javascript:;"> 沿着习校长指引的方向齐心奋进</a></li>
            <li> <a href="javascript:;"> 东航空难丨各种救援救灾物资运抵</a></li>
        </ul>
    </div>
</body>

</html>