@font-face {
  font-family: "iconfont"; /* Project id 3266266 */
  src: url('iconfont.woff2?t=1647955847121') format('woff2'),
       url('iconfont.woff?t=1647955847121') format('woff'),
       url('iconfont.ttf?t=1647955847121') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yingyongzhongxin:before {
  content: "\e600";
}

.icon-fenlei:before {
  content: "\e61f";
}

.icon-shouye:before {
  content: "\e62d";
}

.icon-shouyetianchong:before {
  content: "\e692";
}

.icon-zuojiantou:before {
  content: "\e619";
}

.icon-shouyetianchong-copy:before {
  content: "\eaff";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-yuncai:before {
  content: "\e618";
}

