@font-face {
    font-family: 'mian_font';
    src: url(../fonts/杨任东竹石体.ttf);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

header {
    color: #009688;
    height: 8%;
    background: #23262E;
    font-family: 'mian_font';
    line-height: 65px;
    font-size: 35px;
    padding-left: 30px;
    min-height: 58px;
}

header p {
    display: inline-block;
}

header p:nth-child(2) {
    color: white;
    padding-left: 500px;
}

main {
    display: flex;
    height: 92%;
}

main .left {
    color: white;
    flex: 0.86;
    background: #393D49;
    min-width: 180.91px;
    font-size: 13px;
}


.left li {
    height: 50px;
    padding-left: 35px;
    line-height: 50px;
    border-bottom: 1px solid #cccccc;
    box-shadow: 1px solid #ccc;
    cursor: pointer;
}

.left a:hover {
    display: block;
    background-color: #009688;
}

.current {
    display: block;
    background-color: #009688;

}

.left img {
    width: 20px;
    vertical-align: middle;
    padding-right: 10px;
}

main .right {
    flex: 5;
}

.right iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

a {
    text-decoration: none;
    color: white;

}