body {
    background: #e7e7e7;
}

main {

    width: 99.5%;
    background-color: white;
    margin: 0 auto;
    height: 550px;
}

header {
    padding-left: 10px;
    line-height: 40px;
}

form {
    width: 90%;
    margin: 0 auto;
    /* background-color: blue; */
}

form div {
    line-height: 40px;
    height: 40px;
}

form label {
    width: 85px;
    display: inline-block;
    text-align: center;
    font-size: 10px;

}

form input,
form textarea {
    display: inline-block;
    width: 80%;
    height: 25px;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    outline: none;
    font-size: 10px;
}

.con {
    position: relative;
}


.content {
    position: relative;
    top: -176px;

}

form textarea {
    margin-top: 10px;
    height: 190px;
    font-size: 20px;
}

.cover label {
    margin-top: 180px;
}

.cover button {
    background-color: #FF5722;
    color: white;
    width: 100px;
    height: 40px;
    border: 0;
    cursor: pointer;
}

.submit {
    display: block;
    margin: 0 auto;
    margin-top: 200px;
    height: 40px;
    width: 80px;

    color: white;
    background-color: #009688;
    border: none;
    cursor: pointer;
}